@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2'),
       url('./assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold.woff2') format('woff2'),
       url('./assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .area {
    @apply flex flex-col items-center;
  }

  .content {
    @apply w-[calc(100%-40px)];
    @apply md:w-[calc(100%-2*theme(spacing.pageSide))];
    @apply max-w-[1240px];
  }

  .create-subtitle {
    @apply text-2xl font-bold md:text-[28px];
  }
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Pretendard', sans-serif;
}

svg {
  width: inherit;
  height: inherit;
}

a {
  text-decoration: none;
}

p strong {
  /* for in case where text highlight is needed with i18n, I replaced <strong> tag with that style. */
  /* use <b> tag for bold text */
  font-weight: inherit;
  color: var(--primary);
}
