:root {
  --primary: #ff4500;
  --secondary: #fff4f0;
  --dark: #252525;
  --secondaryText: #959595;
  --white: #ffffff;
  --deselected: #d6d6d6;
  --grey: #b3b3b3;
  --greyDark: #6e6e73;
  --greyBorder: #d6d6d6;
  --greyLight: #f5f5f7;

  --d_dark: #252525;
  --d_greyDark: #3b3b3b;
  --d_greyBorder: #5d5d5d;
  --d_grey: #919191;
  --d_white: #ffffff;
  --d_secondary: #432b22;

  /* Dark mode variables. These are just for convenience. Overwrite them when that's proper. No accurate 1:1 mapping exist. */
  @media (prefers-color-scheme: dark) {
    --dark: var(--d_white);
    --white: var(--d_dark);
    --greyLight: var(--d_greyDark);
    --greyDark: var(--d_grey);
    --secondary: var(--d_secondary);
  }
}
